* {
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
ul {
    list-style: none;
    padding-left: 5%;
}
li {
    margin-top: 2%;
}
#output-text span {
    margin-left: 5%;
}
textarea {
    color: black;
    max-height: 150px;
    width: 60%;
    overflow: hidden;
}

.color-120 {
    color: aqua;
}

.color-130 {
    color: blueviolet;
}

.color-140 {
    color: red;
}